<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senzori Umiditate și Nivel Rezervor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div style="margin-top: 128px; font-size: 32px;"> 
        <h1>Dashboard Umidity/Soil Moisture</h1>
    </div>
 
    <div class="iframe-container" style="margin-top: 72px">
        <iframe src="http://localhost:3000/public-dashboards/72d5a2e5392c4fbebcfdc5a6ae6748ab" width="450" height="500" frameborder="0" title="soil-moisture"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/9f7d90b8382a45d8a245e2d523eaa9f0" width="450" height="500" frameborder="0" title="current-soil-moisture"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/45091f51cfcb4692b1db63e246aa1142" width="450" height="500" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/e2b0a48a07164497832251993cf6f223" width="450" height="500" frameborder="0" title="current-water-level"></iframe>
    </div>

    <div style="margin-top: 80px; font-size: 32px;">
    <h1>Control pump state</h1>
    </div>

    <div class="controls">
        <button onclick="controlPump('start_pump')">START</button>
        <button onclick="controlPump('stop_pump')">STOP</button>
    </div>

    <div class="pump_info_container" style="margin-top: 72px">
        <iframe src="http://localhost:3000/public-dashboards/2dcd1230ec264a5488a75bd5a8ede5f4" width="450" height="150" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/91b3c4f540c34897b321d47641afdaeb" width="450" height="150" frameborder="0"></iframe> 
        
    </div>

    <div style="margin-top: 80px; font-size: 32px;">
        <h1>Statistics</h1>
    </div>    

    <div class="table" style="margin-top: 72px">
        <iframe src="http://localhost:3000/public-dashboards/552e87d8b3f84009b43ba5ccb4265724" width="450" height="300" frameborder="0" class="table"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/5324d2b6559a488987906a6e31062093" width="450" height="300" frameborder="0" class="table"></iframe> 
        
    </div>

    <script>
        function controlPump(action) {
            fetch('/api/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ action: action })
            })
            .then(response => response.json())
            .then(data => {
                if (data.pump_state === 'on') {
                    document.getElementById("pump_state").innerText = 'The pump is: Trying to start the pump...';
            } else {
                document.getElementById("pump_state").innerText = 'The pump is: Trying to stop the pump...';
                }
            })
            .catch(error => console.error('Error:', error));
            if (action === 'start_pump') {
                alert("Pump start request...");
            } else {
                alert("Pump stop request...");
                }
        }

        // Procentajul de umplere
        function setWaterFillPercentage(percent) {
            const fillElement = document.getElementById('waterFill');
            const percentageElement = document.getElementById('waterPercentage');

            // Limitează procentajul între 0 și 100
            percent = Math.max(0, Math.min(100, percent));

            // Actualizează înălțimea și textul
            fillElement.style.height = percent + '%';
            percentageElement.innerText = percent + '%';
        }

        function setSoilFillPercentage(percent) {
            const fillElement = document.getElementById('soilFill');
            const percentageElement = document.getElementById('soilPercentage');

            // Limitează procentajul între 0 și 100
            percent = Math.max(0, Math.min(100, percent));

            // Actualizează înălțimea și textul
            fillElement.style.height = percent + '%';
            percentageElement.innerText = percent + '%';
        }

    
        // Actualizează valorile senzorilor la fiecare 5 secunde
        // setInterval(() => {
        //    fetch('/api/data')
        //        .then(response => response.json())
         //       .then(data => {
                    // document.getElementById("pump_info").innerText = `${data.pump_state}`;
        //            setWaterFillPercentage(data.water_level);
        //            setSoilFillPercentage(data.soil_moisture);
        //        })
        //        .catch(error => console.error('Error:', error));
        //}, 5000);
        
    </script>
</body>
</html>