<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senzori Umiditate și Nivel Rezervor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Monitorizare Umiditate și Rezervor</h1>
    <div class="sensor-data">
        <h2>Umiditate Sol: <span id="soil-moisture">Se incarca...</span></h2>
        <h2>Nivel Rezervor: <span id="water-level">Se incarca...</span></h2>
    </div>
    <div class="controls">
        <button onclick="controlPump('start_pump')">Pornește Pompa</button>
        <button onclick="controlPump('stop_pump')">Oprește Pompa</button>
    </div>
    <div class="pump_info">
        <h3> <span id="pump_state">Starea pompei: Se incarca...</h3>
        <h3> <span id="last_checked">Ultima actualizare: Se incarca...</h3>
    </div>
    <div class="rectangleContainer">
        <div class="waterRectangle">
            <div class="waterFill" id="waterFill"></div>
            <div class="waterPercentage" id="waterPercentage">0%</div>
        </div>
        <div class="soilRectangle">
            <div class="soilFill" id="soilFill"></div>
            <div class="soilPercentage" id="soilPercentage">0%</div>
        </div>
    </div>
    <h1>Vizualizare Grafana</h1>
    <div class="iframe-container">
        <iframe src="http://localhost:3000/public-dashboards/fa1f038b53d54d4bb15031a041735cce" title = "Iframe 1"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/fa1f038b53d54d4bb15031a041735cce" title = "Iframe 2"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/fa1f038b53d54d4bb15031a041735cce" title = "Iframe 3"></iframe>
        <iframe src="http://localhost:3000/public-dashboards/fa1f038b53d54d4bb15031a041735cce" title = "Iframe 4"></iframe>
    </div>

    <script>
        function controlPump(action) {
            fetch('/api/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ action: action })
            })
            .then(response => response.json())
            .then(data => {
                if (data.pump_state === 'on') {
                    document.getElementById("pump_state").innerText = 'Starea pompei: Se incearca activarea...';
            } else {
                document.getElementById("pump_state").innerText = 'Starea pompei: Se incearca oprirea...';
                }
            })
            .catch(error => console.error('Error:', error));
            if (action === 'start_pump') {
                alert("Pump start request...");
            } else {
                alert("Pump stop request...");
                }
        }

        // Procentajul de umplere
        function setWaterFillPercentage(percent) {
            const fillElement = document.getElementById('waterFill');
            const percentageElement = document.getElementById('waterPercentage');

            // Limitează procentajul între 0 și 100
            percent = Math.max(0, Math.min(100, percent));

            // Actualizează înălțimea și textul
            fillElement.style.height = percent + '%';
            percentageElement.innerText = percent + '%';
        }

        function setSoilFillPercentage(percent) {
            const fillElement = document.getElementById('soilFill');
            const percentageElement = document.getElementById('soilPercentage');

            // Limitează procentajul între 0 și 100
            percent = Math.max(0, Math.min(100, percent));

            // Actualizează înălțimea și textul
            fillElement.style.height = percent + '%';
            percentageElement.innerText = percent + '%';
        }

        

        // Actualizează valorile senzorilor la fiecare 5 secunde
        setInterval(() => {
            fetch('/api/data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("soil-moisture").innerText = `${data.soil_moisture}%`;
                    document.getElementById("water-level").innerText = `${data.water_level}%`;
                    // document.getElementById("pump_info").innerText = `${data.pump_state}`;
                    if (data.pump_state === 'on') {
                        document.getElementById("pump_state").innerText = 'Starea pompei: Pornită';
                    } else {
                        document.getElementById("pump_state").innerText = 'Starea pompei: Oprită';
                    }
                    document.getElementById("last_checked").innerText = `${data.last_checked}`;
                    setWaterFillPercentage(data.water_level);
                    setSoilFillPercentage(data.soil_moisture);
                })
                .catch(error => console.error('Error:', error));
        }, 5000);
    </script>
</body>
</html>