<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senzori Umiditate și Nivel Rezervor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div style="margin-top: 128px; font-size: 32px;"> 
        <h1>Dashboard Umidity/Soil Moisture</h1>
    </div>
 
    <div class="iframe-container" style="margin-top: 72px">
        <iframe src="http://localhost:3000/d-solo/fe9kh6u9cg5j4f/proiect-pr?orgId=1&timezone=browser&refresh=5s&panelId=4&__feature.dashboardSceneSolo" width="450" height="300" frameborder="0" title="soil-moisture"></iframe>
        <iframe src="http://localhost:3000/d-solo/fe9kh6u9cg5j4f/proiect-pr?orgId=1&timezone=browser&refresh=5s&panelId=3&__feature.dashboardSceneSolo" width="450" height="300" frameborder="0" title="current-soil-moisture"></iframe>
        <iframe src="http://localhost:3000/d-solo/fe9kh6u9cg5j4f/proiect-pr?orgId=1&timezone=browser&refresh=5s&panelId=1&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/fe9kh6u9cg5j4f/proiect-pr?orgId=1&timezone=browser&refresh=5s&panelId=2&__feature.dashboardSceneSolo" width="450" height="300" frameborder="0" title="current-water-level"></iframe>
    </div>

    <div style="margin-top: 80px; font-size: 32px;">
    <h1>Control pump state</h1>
    </div>
    <div class="controls">
        <button onclick="controlPump('start_pump')">START</button>
        <button onclick="controlPump('stop_pump')">STOP</button>
    </div>
    <div class="pump_info" style="font-size: 32px;">
        <h3> <span id="pump_state">Pump state: Loading...</h3>
        <h3> <span id="last_checked">Last update: Loading...</h3>
    </div>

    <div class="pump_info_container">
        <iframe src="http://localhost:3000/d-solo/fe9kh6u9cg5j4f/proiect-pr?orgId=1&timezone=browser&refresh=5s&panelId=5&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/fe9kh6u9cg5j4f/proiect-pr?orgId=1&timezone=browser&refresh=5s&panelId=6&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe> 
        
    </div>

    <script>
        function controlPump(action) {
            fetch('/api/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ action: action })
            })
            .then(response => response.json())
            .then(data => {
                if (data.pump_state === 'on') {
                    document.getElementById("pump_state").innerText = 'The pump is: Trying to start the pump...';
            } else {
                document.getElementById("pump_state").innerText = 'The pump is: Trying to stop the pump...';
                }
            })
            .catch(error => console.error('Error:', error));
            if (action === 'start_pump') {
                alert("Pump start request...");
            } else {
                alert("Pump stop request...");
                }
        }

        // Procentajul de umplere
        function setWaterFillPercentage(percent) {
            const fillElement = document.getElementById('waterFill');
            const percentageElement = document.getElementById('waterPercentage');

            // Limitează procentajul între 0 și 100
            percent = Math.max(0, Math.min(100, percent));

            // Actualizează înălțimea și textul
            fillElement.style.height = percent + '%';
            percentageElement.innerText = percent + '%';
        }

        function setSoilFillPercentage(percent) {
            const fillElement = document.getElementById('soilFill');
            const percentageElement = document.getElementById('soilPercentage');

            // Limitează procentajul între 0 și 100
            percent = Math.max(0, Math.min(100, percent));

            // Actualizează înălțimea și textul
            fillElement.style.height = percent + '%';
            percentageElement.innerText = percent + '%';
        }

        

        // Actualizează valorile senzorilor la fiecare 5 secunde
        setInterval(() => {
            fetch('/api/data')
                .then(response => response.json())
                .then(data => {
                    // document.getElementById("pump_info").innerText = `${data.pump_state}`;
                    if (data.pump_state === 'on') {
                        document.getElementById("pump_state").innerText = 'The pump is: ON';
                    } else {
                        document.getElementById("pump_state").innerText = 'The pump is: OFF';
                    }
                    document.getElementById("last_checked").innerText = `${data.last_checked}`;
                    setWaterFillPercentage(data.water_level);
                    setSoilFillPercentage(data.soil_moisture);
                })
                .catch(error => console.error('Error:', error));
        }, 5000);
    </script>
</body>
</html>